* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    line-height: 1.6;
    background-color: white;
    color: #333;
    padding: 40px;
}

#byinfo{
    border-right: 1px solid #888;
}
#name{
    text-transform: uppercase;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 40px;
}

#name #sirname{
    margin-left: 20px;
    font-weight: 500;
}

#mytitle{
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    text-align: center;
    text-transform: uppercase;
}

.container{
    display: flex;
    align-items:start;
}

.info{
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    padding-right: 100px;
}

.info::after{
    content: "";
    position: absolute;
    right: 0;
    top: 30px; 
    height: 840px;
    width: 1px; 
    background-color:#888; 
}
.info h5{
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: 500;
    opacity: .8;
    margin-bottom: 20px;
}

.elem{
    text-decoration: none;
}

#email a{
    display:inline;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

#git a{
    font-size: 20px;
    font-weight: 600;    
}

#linkedin a{
    font-size: 20px;
    font-weight: 600;
}

#skills h5{
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: 500;
    opacity: .8;
    margin-bottom: 20px;
}

#skills ul{
    margin-left: 20px;
    font-family:Arial, Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 500;
}

#education h5{
    font-family:Arial, Helvetica,sans-serif;
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: 500;
    opacity: .8;
    margin-bottom: 5px;
}

#education b{
    font-family:Arial, Helvetica,sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 900;
}

#education h6{
    margin-top: 3px;
    font-family:Arial, Helvetica,sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
}

.about {
    margin-left: 40px;
    font-family:Arial, Helvetica,sans-serif;
}

.about h5{
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: 500;
    opacity: .8;
    margin-bottom: 20px;
}

.about p{
    font-size: 20px;
    font-weight: 450;
}

#work h5{
    margin-bottom: 20px;
}
#work b{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

#work h6{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
}

#work ul{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 100;
}

#sde{
    margin-top: 20px;
}